.movie-display-container {
  .movie-container {
    // width: 100%;
    // width: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    // border: 1px solid #000;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.06);
    transition: all 0.5s;
    word-break: normal;
    &:hover {
      cursor: pointer;
      transform: scale(1.03);
    }
    .poster {
      // border: 1px solid #000;
      width: 100%;
      img {
        width: 100%;
      }
    }
    .information-container {
      min-height: 150px;
      padding: 10px;
      box-sizing: border-box;
      text-align: left;
      .title {
        display: inline-block;
        font-size: 20px;
        // border: 1px solid #000;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .genres-container {
        // border: 1px solid #000;
        .genre {
          margin: 0 5px;
          font-size: 17px;
          // border: 1px solid #000;
          display: inline-block;
        }
      }
      .provider-container {
        margin-top: 20px;
        // border: 1px solid #000;
        display: flex;
        align-items: flex-start;
        justify-content: start;
        .icon-container {
          // border: 1px solid #000;
          width: 60px;
          height: 60px;
          border-radius: 5px;
          margin: 0 5px;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
